body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0ffc9;
  font-family: "Istok Web", sans-serif;
  color: #2c3e50;
  margin: 0;
}

h1 {
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.client-form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #ffffff;
  @media screen and (max-width: 600px) {
    padding: 14px 20px;
  }

  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    margin: 0;
    padding: 0;
  }

  &__group {
    width: 100%;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      width: calc(33.33% - 10px);
    }
    @media screen and (max-width: 767px) {
      width: calc(50% - 10px);
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }

    .required:after {
      content: "*";
      font-size: 14px;
      color: #f00;
    }
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__input,
  &__select {
    width: 90%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    background-color: #fff;

    &:focus {
      outline: none;
      border: 1px solid #007bff;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__select {
    width: 98%;
  }

  &__option {
    display: flex;
    align-items: center;
  }

  &__option-text {
    margin-left: 5px;
  }

  &__checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
  }

  &__submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #22b2ea;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: #1a97ca;
    }
    
    &:active {
      background-color: #1887b3;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    }
  }
}
